.normal {
    text-decoration: none;
}

.rayada {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.eliminado {
    display: none;
}

div {
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
 
}
div > button {
    margin: 1%;
}

ul {
    width: 100%;
    }

input {
    margin-right: 5%;
    height: 30px;
    width: 200px;
}
.tareas {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido hacia la izquierda */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    width: fit-content;
    margin-right: auto; /* Mueve el bloque completo hacia la izquierda */
  }
  
  
  